{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<!--carousel-->

{% comment %} <section id="third" >
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade"   data-ride="carousel">
    <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" id="third carouselExampleInterval">
      {% for carousel in carousel %}
      <div class="carousel-item {% if forloop.counter0 == 0%} 
      active {% endif %}" data-interval="5000" >
        <div class="item">
          <div class="container padding-top-3x">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
                <div class="from-bottom"><img class="d-inline-block w-150 mb-4  logo_slider" src="{{carousel.carousel_logo_slider.url }}" alt="Puma">
                  <div class="h2 text-body text-normal mb-2 pt-1">{{ carousel.carousel_title }}</div>
                  <div class="p text-body text-normal mb-4 pb-1">{{ carousel.carousel_sub_title }}</div>
                </div><a class="btn btn-outline-primary btn-sm" role="button" aria-pressed="true" href="{% url 'cart:product-list' %}">{{ carousel.carousel_action }}</a>
              </div>
              <div class="col-md-6 padding-bottom-2x mb-3"><img class="d-block mx-auto 
               " src="{{carousel.carousel_image.url }}" alt="Puma Backpack"></div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">{% trans "Previous" %}</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">{% trans " Next" %}</span>
    </a>
  </div>
</section><br><br> {% endcomment %}
<!--end carousel-->

{% endblock  %}