{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class="bg-white py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'home' %}">{% trans "Home" %}</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="text-black">{% trans "Shipping & Returns" %}</strong>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
    {% for shipping_returns in shipping_returns %}
    <div class="col-lg-8">
        <h1 class="mb-2"></h1>
        <p class="lead">{{ shipping_returns.shipping_returns_text|safe}}</p>
    </div>
    {% endfor %}
    </div>
</div>


{% endblock content %}