{% extends "base.html" %}
{% load i18n %}
{% block content %}


<div class="container">
<div class="bg-white py-3">
    <div class="row">
        <div class="col-md-12 mb-0">
            <a href="{% url 'home' %}">{% trans "Home" %}</a>
            <span class="mx-2 mb-0">/</span>
            <strong class="text-black">{% trans "Cart" %}</strong>
        </div>
    </div>
</div>


<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead">
                <tr id='thead-th'>
                    <th scope="col">{% trans "Image" %}</th>
                    <th scope="col">{% trans "Product" %}</th>
                    <th scope="col">{% trans "Price" %}</th>
                    <th scope="col">{% trans "Quantity" %}</th>
                    <th scope="col">{% trans "Total" %}</th>
                    <th scope="col">{% trans "Actions" %}</th>
                </tr>
                </thead>
                
                <tbody>
                    {% for item in order.items.all %}
                    <tr>  
                        <th scope="row"><img src="{{ item.product.featured.url }}" class="img-fluid" style="max-width: 90px;">
                        </th>
                        <td>
                            <h2 class="h5 text-black">{{ item.product.title }}</h2>
                            <small>{% trans "Size" %}: {{ item.size.name }}</small>
                            <small>{% trans "Colour" %}: {{ item.colour.name }}</small>
                        </td>
                        <td>${{ item.product.get_price }}</td>
                        <td>
                            <div class="input-group mb-3" style="max-width: 120px;">
                                <div class="input-group-prepend">
                                    <a href="{% url 'cart:decrease-quantity' item.id %}"
                                        class="btn btn-outline-primary">
                                        &minus;
                                    </a>
                                </div>
                                <input type="text" class="form-control text-center" value="{{ item.quantity }}">
                                <div class="input-group-append">
                                    <a href="{% url 'cart:increase-quantity' item.id %}"
                                        class="btn btn-outline-primary">
                                        &plus;
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td>${{ item.get_total_item_price }}</td>
                        <td>
                            <a href="{% url 'cart:remove-from-cart' item.id %}"
                            class="btn btn-danger btn-sm">X</a>
                        </td>
                        {% empty %}
                        <td>
                            {% trans "There are no items in your cart." %}
                            <a href="{% url 'cart:product-list' %}">{% trans "Continue shopping" %}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>  

        <div class="row">
            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <a class="btn btn-outline-primary btn-sm btn-block"
                        href="{% url 'cart:product-list' %}">{% trans "Continue shopping" %}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row justify-content-end">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 text-right border-bottom mb-5 ">
                                <h3 class="text-black h4 text-uppercase">{% trans "Cart Totals" %}</h3>
                            </div>
                            <div class="container  mb-3">
                                <div class="clearfix">
                                <span class="float-left text-black">{% trans "Subtotal" %}</span>
                                <span class="float-right text-black">${{ order.get_subtotal }}</span>
                                </div>
                            </div><br>
                            <div class="container mb-5">
                                <div class="clearfix">
                                <span class="float-left text-black">{% trans "Total" %}</span>
                                <span class="float-right text-black">${{ order.get_total }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-5">
                                <a class="btn btn-success btn-sm py-3 btn-block" href="{% url 'cart:checkout' %}">{% trans "Proceed to checkout" %}</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div> 


{% endblock content %}


