{% extends "base.html" %}
{% load i18n %}
{% block content %}


<div class="bg-white py-3">
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'home' %}">{% trans "Home" %}</a>
            <span class="mx-2 mb-0">/</span>
            <strong class="text-black">{% trans "Staff page" %}</strong>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h5 class="text-black">Staff Portal - Products</h5>
        <a href="{% url 'staff:product-create' %}"><h5>Create a product</h5></a><br>
        <div class="table-responsive">
            <table class="table border">
                <thead class="thead">
                    <tr>
                        <th scope="col">{% trans "Image" %}</th>
                        <th scope="col">{% trans "Product" %}</th>
                        <th scope="col">{% trans "Price" %}</th>
                        <th scope="col"><span class='float-right'>{% trans "Actions" %}</span></th>
                    </tr>
                </thead>             
                <tbody>
                    {% for product in products %}
                        <tr>  
                            <td>
                                <img src="{{product.featured.url }}" class="img-fluid" style="max-width: 50px;">
                            </td>
                            <td>
                                {{ product.title }}
                            </td>
                            <td>
                                ${{ product.get_price }}
                            </td>
                            <td>
                                <span class='float-right'>
                                <a class="text-primary" href="{{ product.get_update_url }}"><u>Update</u></a>
                                <a tabindex="0" class="btn btn-sm btn-primary" role='button'
                                data-html='true' data-toggle='popover' data-trigger='focus'
                                title='Are you sure you want to delete this product?'
                                data-content="<a href='{{ product.get_delete_url }}'>Confirm</a>">
                                    X
                                </a>
                                </span>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">You don't have any products</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>  

        {% if page_obj.has_other_pages %}
            <ul class="list-inline text-center">
                {% if page_obj.has_previous %}
                    <li class="list-inline-item page"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="list-inline-item disabled page"><span class="page-link">&laquo;</span></li>
                {% endif %}
                
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="list-inline-item active page ">
                            <span class='page-item page-link active'>
                            {{ i }}
                                <span class='sr-only'>(current)</span>
                            </span></li>
                        {% else %}
                            <li class="list-inline-item page"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                {% if page_obj.has_next %}
                    <li class="list-inline-item page"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="list-inline-item disabled page"><span class="page-link">&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}

    </div>
</div><br><br>



{% endblock content %}

{% block scripts %}
<script>
    $(function () {
        $("[data-toggle=popover]").popover();
    });
</script>
{% endblock scripts %}