{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="bg-white py-3">
        <div class="row">
            <div class="col-md-11 mx-auto mb-0">
                <a href="{% url 'home' %}">{% trans "Home" %}</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="text-black">{% trans "Update a product" %}</strong>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'staff:product-list' %}" class="text-primary"><u>Go back to products</u></a>
            <hr />
            <h4>Update product</a>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type='submit' class='btn btn-primary'>Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}